﻿@using Sitecore.Mvc
<!DOCTYPE html>
<html>
<head>
    <title>ONLY YURS</title>
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>
<body>
    <div class="root">
        <div class="header-content">
            @Html.Sitecore().Placeholder("phHeader")
        </div>

        <div class="body-content">
            @Html.Sitecore().Placeholder("phContent")
        </div>

        <div class="footer-content">
            @Html.Sitecore().Placeholder("phFooter")
        </div>
    </div>
</body>
</html>