﻿<!DOCTYPE HTML>
@model IEnumerable<Ecommerce.Cart>
<html>
<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        ONLY YURS
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js">
    </script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>


    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="http://ecommerce/?sc_itemid=%7B110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9%7D&sc_mode=preview&sc_lang=en&sc_site=website">Home</a>
                        </li>
                        <li>Shopping cart</li>
                    </ul>
                </div>

                <div class="col-md-9" id="basket">

                    <div class="box">

                        <form method="post" action="http://ecommerce/?sc_itemid=%7BE0A496F5-F9A9-4036-94E9-07BB17ACBE4E%7D&sc_mode=preview&sc_lang=en&sc_site=website">

                            <h1>Shopping cart</h1>
                            <p class="text-muted">You currently have @ViewBag.Count item(s) in your cart.</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Quantity</th>
                                            <th>Unit price</th>
                                            <th>Discount</th>
                                            <th colspan="2">Total</th>
                                        </tr>
                                    </thead>
                                    @foreach (Cart cart in Model)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @if (cart.Productname == "Brown Blouse Armani")
                                                    {
                                                        <a href="#">
                                                            <img src="~/img/product1.jpg" alt="Brown Blouse Armani">
                                                        </a>
                                                    }
                                                    else if (cart.Productname == "White Blouse Armani")
                                                    {
                                                        <a href="#">
                                                            <img src="~/img/product2.jpg" alt="White Blouse Armani">
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="#">
                                                            <img src="~/img/product3.jpg" alt="Black Blouse Armani">
                                                        </a>
                                                    }

                                                </td>
                                                <td>
                                                    <a href="#">@cart.Productname</a>
                                                </td>
                                                <td>
                                                    @using (Html.BeginForm())
                                                    {
                                                        @Html.TextBoxFor(c => @cart.Quantity, new { @type = "number" })
                                                    }
                                                </td>
                                                <td>$@cart.UnitPrice.00</td>
                                                <td>$@cart.Discount.00</td>
                                                <td>$@cart.Total.00</td>
                                                <td>
                                                    @if (cart.Productname == "Brown Blouse Armani")
                                                    {
                                                        <a href="@Url.Action("DeleteProduct1","Registration")"><i class="fa fa-trash-o"></i></a>
                                                    }
                                                    else if (cart.Productname == "White Blouse Armani")
                                                    {
                                                        <a href="@Url.Action("DeleteProduct2","Registration")"><i class="fa fa-trash-o"></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("DeleteProduct3","Registration")"><i class="fa fa-trash-o"></i></a>
                                                    }
                                                </td>
                                                @*<td>
                                                    @if (cart.Productname == "Brown Blouse Armani")
                                                    {
                                                             @Html.ActionLink("Update Basket", "UpdateCart1", "Registration")

                                                    }
                                                    else if (cart.Productname == "White Blouse Armani")
                                                    {
                                                     <button class="btn btn-default" onclick="location.href='@Url.Action("UpdateCart2", "Registration")'"><i class="fa fa-refresh"></i> Update basket</button>
                                                    }
                                                    else
                                                    {
                                                     <button class="btn btn-default" onclick="location.href='@Url.Action("UpdateCart3", "Registration")'"><i class="fa fa-refresh"></i> Update basket</button>
                                                        }

                                                                 </td>*@
                                            </tr>
                                        </tbody>
                                    }

                                    <tfoot>
                                        <tr>
                                            <th colspan="5">Total</th>
                                            @if (ViewBag.Count != 0)
                                            {
                                                <th colspan="2">
                                                    $@ViewBag.Total.00
                                                </th>
                                            }
                                            else
                                            {
                                                <th colspan="2">
                                                    $0.00
                                                </th>
                                            }
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                            <!-- /.table-responsive -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a href="http://ecommerce/?sc_itemid=%7B2325F948-108E-4D2E-87B9-C7982C36712E%7D&sc_mode=preview&sc_lang=en&sc_site=website" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
                                </div>
                                <div class="pull-right">
                                    @*<button class="btn btn-default"><i class="fa fa-refresh"></i> Update basket</button>*@
                                    <button type="submit" class="btn btn-primary">
                                        Proceed to checkout <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <!-- /.box -->


                    <div class="row same-height-row">
                        <div class="col-md-3 col-sm-6">
                            <div class="box same-height">
                                <h3>You may also like these products</h3>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="http://ecommerce/?sc_itemid=%7BBBFFE7B7-EC9A-495A-8D6A-A9823F27746F%7D&sc_mode=preview&sc_lang=en&sc_site=website">
                                                <img src="img/product2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="http://ecommerce/?sc_itemid=%7BBBFFE7B7-EC9A-495A-8D6A-A9823F27746F%7D&sc_mode=preview&sc_lang=en&sc_site=website">
                                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="http://ecommerce/?sc_itemid=%7BBBFFE7B7-EC9A-495A-8D6A-A9823F27746F%7D&sc_mode=preview&sc_lang=en&sc_site=website" class="invisible">
                                    <img src="img/product2.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>White Blouse Armani</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="http://ecommerce/?sc_itemid=%7B3C8E6786-8C0C-4466-AAB1-DA72965E4F82%7D&sc_mode=preview&sc_lang=en&sc_site=website">
                                                <img src="img/product1.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="http://ecommerce/?sc_itemid=%7B3C8E6786-8C0C-4466-AAB1-DA72965E4F82%7D&sc_mode=preview&sc_lang=en&sc_site=website">
                                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="http://ecommerce/?sc_itemid=%7B3C8E6786-8C0C-4466-AAB1-DA72965E4F82%7D&sc_mode=preview&sc_lang=en&sc_site=website" class="invisible">
                                    <img src="img/product1.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Brown Fur coat</h3>
                                    <p class="price">$143</p>
                                </div>
                            </div>
                            <!-- /.product -->
                        </div>


                        <div class="col-md-3 col-sm-6">
                            <div class="product same-height">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="http://ecommerce/?sc_itemid=%7B3D53852C-7236-4AD9-8B8C-5F98CA362EEA%7D&sc_mode=preview&sc_lang=en&sc_site=website">
                                                <img src="img/product3.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="http://ecommerce/?sc_itemid=%7B3D53852C-7236-4AD9-8B8C-5F98CA362EEA%7D&sc_mode=preview&sc_lang=en&sc_site=website">
                                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="http://ecommerce/?sc_itemid=%7B3D53852C-7236-4AD9-8B8C-5F98CA362EEA%7D&sc_mode=preview&sc_lang=en&sc_site=website" class="invisible">
                                    <img src="img/product3.jpg" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3>Black Net Top</h3>
                                    <p class="price">$143</p>

                                </div>
                            </div>
                            <!-- /.product -->
                        </div>

                    </div>


                </div>
                <!-- /.col-md-9 -->

                <div class="col-md-3">
                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Order summary</h3>
                        </div>
                        <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Order subtotal</td>
                                        @if (ViewBag.Count != 0)
                                        {
                                            <th>$@ViewBag.Total.00</th>
                                        }
                                        else
                                        {
                                            <th>$0.00</th>
                                        }

                                    </tr>
                                    <tr>
                                        <td>Shipping and handling</td>
                                        @if (ViewBag.Count != 0)
                                        {
                                            <th>$10.00</th>
                                        }
                                        else
                                        {
                                            <th>$0.00</th>
                                        }

                                    </tr>
                                    <tr>
                                        <td>Tax</td>
                                        @if (ViewBag.Count != 0)
                                        {
                                            <th>$10.00</th>
                                        }
                                        else
                                        {
                                            <th>$0.00</th>
                                        }


                                    </tr>
                                    <tr class="total">
                                        <td>Total</td>
                                        @if (ViewBag.Count != 0)
                                        {
                                            <th>$@ViewBag.Sum.00</th>
                                        }
                                        else
                                        {
                                            <th>$0.00</th>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>


                    <div class="box">
                        <div class="box-header">
                            <h4>Coupon code</h4>
                        </div>
                        <p class="text-muted">If you have a coupon code, please enter it in the box below.</p>
                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

                                    <button class="btn btn-primary" type="button"><i class="fa fa-gift"></i></button>

                                </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>

                </div>
                <!-- /.col-md-3 -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->



    </div>
    <!-- /#all -->
    <!-- *** SCRIPTS TO INCLUDE ***
    _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>



</body>

</html>