﻿@model Ecommerce.Register
<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        ONLY YURS
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>



    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>Log in</li>
                    </ul>

                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>New account</h1>

                        <p class="lead">Not our registered customer yet?</p>
                        <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                        <p class="text-muted">If you have any questions, please feel free to <a href="http://ecommerce/?sc_itemid=%7BF7FA874F-FC8F-4862-851B-03AD82649850%7D&sc_mode=preview&sc_lang=en&sc_site=website">contact us</a>, our customer service center is working for you 24/7.</p>

                        <hr>

                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true, "Registeration Failed, fields.");

                            <div class="form-group">
                                @Html.LabelFor(u => u.Name)
                                @Html.TextBoxFor(u => u.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Name)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(u => u.Email)
                                @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(u => u.Password)
                                @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Password)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(u => u.Role)
                                @Html.DropDownListFor(u => u.Role,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "Employee" , Text = "Employee" },
                       new SelectListItem { Value = "Customer" , Text = "Customer" }

                    },
                  new { @class = "form-control" })

                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button>
                            </div>

                        }
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>Login</h1>

                        <p class="lead">Already our customer?</p>
                        <p class="text-muted">
                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
                            mi vitae est. Mauris placerat eleifend leo.
                        </p>

                        <hr>


                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true, "Registeration Failed, fields.");
                            <div class="form-group">
                                @Html.LabelFor(l => l.Email)
                                @Html.TextBoxFor(l => l.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(l => l.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(l => l.Password)
                                @Html.PasswordFor(l => l.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(l => l.Password)
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                            </div>
                        }

                    </div>
                </div>


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->




    </div>
    <!-- /#all -->
    <!-- *** SCRIPTS TO INCLUDE ***
    _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>



</body>

</html>

